html {
  color: #a6a6a6;
  background: #0d0d0d;
}

body {
  font: 200 1em/1 "Roboto Flex", sans-serif;
  margin: 0;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

header {
  text-align: center;
}

h1 {
  display: inline-block;
  font-size: 1.625em;
  font-weight: 100;
  color: #9acd32;
  margin: 20vh 0 5vh;
}

h1 > span, p span {
  font-style: oblique;
}

h1 > span {
  font-weight: 800;
  letter-spacing: .05em;
}

h1 ~ p {
  line-height: 1.25em;
  letter-spacing: .025em;
  margin: 0 5% 2.5vh;
}

.pt {
  display: none;
}
